* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
}

body {
    background-color: #03002d;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}

.ad-container {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background: #ddd;
    width: 90%;
    max-width: 728px; /* অ্যাড ব্যানার সাইজ */
}

#notification-ad {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #ffcc00;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.content {
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    background: #28a745;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

@media (max-width: 768px) {
    .content {
        max-width: 90%;
    }
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
